@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');


html,
body {
    position: relative;
    height: 100%;
}

a {

    text-decoration: none !important;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

.fw-medium {
    font-weight: 501 !important;
}

.long {
    width: 100%;
}


* {
    font-family: 'Noto Sans', sans-serif;
}

.bg-secondary {
    background-color: #E1F3FF !important;
}

.visi-misi {
    height: 825px;
}


.btn-primary {
    background-color: #005BAB;
    color: #fff;
    border-color: transparent;
    width: 100%;
}

.bg-main {
    background-color: #005BAB;
    color: #fff;
    font-size: small;
    width: 100%;
}

.btn-primary:hover {
    background-color: #fff;
    color: #005BAB;
    width: 100%;
    border-color: #005BAB;
}

.text-main {
    color: #005BAB !important;
}

.border-main {
    border-color: #005BAB !important;
}


.title-jumbotron {
    font-size: 48px;
    font-weight: 700;
    color: #0C385F;
}

.text-title {
    color: #2E367E !important;
}

.text-secondary-emphasis {
    color: #636363 !important;
}

.button-event {
    margin: 0 -25rem;
}

.btn-main {
    background-color: #fff;
    color: #005BAB;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.btn-main:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.nav-mid {
    background-image: url(../Assets/png/bg-navbar.png);
}

.fw-300 {
    font-weight: 300;
}

.h1-large {
    font-size: 48px;
    font-weight: 700px;
    color: #0C385F;
}

.h2-small {
    font-size: 20px;
    font-weight: 400px;
    color: #454545;
}

.button-lg {
    font-size: 34px;
    font-weight: 700px;
    color: #fff;
    background-color: #005BAB;
    position: relative;
    top: -49px;
    height: 75px;
    width: 573px;
    border-radius: 20px;
}

.button-lg:hover {
    background-color: #005BAB;
    color: #fff;
    opacity: 0.8;
}

.hidden {
    display: none !important;
}

.to-top-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    border-radius: 50%;
    background-color: #005BAB;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid;
    border-color: transparent;
}

.arrow {
    transition: transform 0.3s;
}

.arrow:hover {
    transform: translateY(-0.5rem);
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}


.jumbotron {
    background-image: url(../Assets/png/Group\ 14.png);
}

.jumbotron-profile {
    background-image: url(../png/jumbotron-profile.png);
    height: 435px;
}

.title-jumbotron-profile {
    padding-top: 5rem;
    font-size: 45px;
    font-weight: 600;
}

.text-jumbotron-profile {
    font-size: 20px !important;
    max-width: 640px;
    font-weight: 300;
    margin: 0 auto
}

.bg-center {
    background-color: #E1F3FF;
    color: #fff;
}

.text-kontak {
    padding-right: 80px;
    text-align: justify;
}

.img-profile {
    /* margin-top: 10rem; */
    margin-right: 5rem;
}


.text-justify {
    text-align: justify;
}

.text-visi {
    font-size: 20px;
}

.fs-9 {
    font-size: 20px;
}

.container-profile {
    height: 734px;
    background-color: #fff;
}

.bg button {
    background-color: #E1F3FF;
}

.card {
    border-radius: 20px;
}

.Artikel {
    font-size: 40px;
    font-weight: bold;
    color: #2E367E;
}

.btn-outline-art {
    font-size: 20px;
    font-weight: 700px;
    color: #005BAB;
    box-shadow: 0px 0px 2px 2px rgba(12, 56, 95, 0.25);
}

.icon {
    margin-top: 5px;
    width: 18px;
    height: 18px;
}
.btn-web {
    font-size: 24px;
    font-weight: semi bold;
    background-color: #003A6E;
    border-radius: 5px;
    height: 55px;
    width: 180px;
}

.card-jumbotron {
    width: 350px !important;
    height: 240px !important;
}

.btn-l {
    font-size: 24px;
    font-weight: semi bold;
    background-color: #fff;
    color: #005BAB;
    border-radius: 5px;
    height: 55px;
    width: 180px;
}

.card-img-left {
    float: left;
    margin-right: 10px;
    max-width: 300px;


}

.txt-evnt {
    font-size: 10px;
}

.card-evnt {
    height: 300px;
    width: 700px;
}

.bg-event {
    background-color: #898181;

}

.txt-f {
    font-size: 20px;
    font-weight: bold;
    color: #005BAB;
}

.txt-nav {
    font-size: 20px;
}

.txt-foot {
    font-size: 16px;
    font-weight: 400;
}

.pb-7 {
    padding-bottom: 5rem !important;
}

@media screen and (max-width: 1400px) {
    .button-event {
        margin: 0 -20rem;
    }
}

@media screen and (max-width: 1200px) {
    .button-event {
        margin: 0 -14rem;
    }

    .title-jumbotron {
        font-size: 35px !important;
    }

    .text-jumbotron {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 990px) {
    .button-event {
        margin: 0 -6rem;
    }

    .title-jumbotron-profile {
        padding-top: 5rem;
        font-size: 40px;
        font-weight: 1000;
    }

    .title-jumbotron-profile {
        font-size: 35px;
        font-weight: 1000;
    }

    .text-jumbotron-profile {
        font-size: 15px !important;
        max-width: 500px;
        font-weight: 300;
        margin: 0 auto;
        padding: 20px 20px;
    }
}


@media screen and (max-width: 1000px) {
    .navbar-nav {
        margin-top: 1rem !important;
    }
}


@media screen and (max-width: 765px) {
    .button-event {
        margin: 0 -0.5rem;
    }

    .btn-jumbotron {
        width: 80%;
        font-size: 23px;
    }
}

@media screen and (max-width: 500px) {
    .nav-img {
        max-width: 80%;
    }

    .nav-date {
        font-size: 13px !important;
    }

    .button-event {
        margin: 0 -0.3rem;
    }

    .btn-jumbotron {
        width: 80%;
        font-size: 18px;
    }

    .btn-web {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: semi bold;
        background-color: #003A6E;
        border-radius: 5px;
        height: 55px;
        width: 180px;
    }

    .card-jumbotron {
        margin: 15px;
    }

    .title-profile- {
        font-size: 30px;
        font-weight: 1000;
    }

    #tentang-kami {
        text-align: center;
    }

    .title-jumbotron-profile {
        font-size: 35px;
        font-weight: 1000;
    }

    .text-profile {
        font-size: 15px !important;
        max-width: 500px;
        font-weight: 400;
        margin: 0 auto;
        padding: 15px 15px;
    }

    .img-profile {
        max-width: 45%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .text-visi {
        font-size: 15px;
    }

    .visi-misi {
        height: 870px;
    }

    .img-struktur {
        width: 100%;
    }
}